In [1]:
import pandas as pd

def read_csv_to_dataframe(file_path):
    try:
        df = pd.read_csv(file_path)
        return df
    except Exception as e:
        print("An error occurred:", e)
        return None

In [2]:
smoted_df = read_csv_to_dataframe("/home/nalin21478/BTP/ML-food-Processing/ML in Food Processing/Data/nutrient_conc_nova_classified.csv")

In [3]:
smoted_df

,Food_code,Main_food_description,catnumb,catname,novaclass,macroclass,Food code,Protein,Total Fat,Carbohydrate,...,20:4,22:6 n-3,16:1,18:4,20:1,20:5 n-3,22:1,22:5 n-3,"Fatty acids, total monounsaturated","Fatty acids, total polyunsaturated"
0,11000000,"Milk, human",9602,Human milk,1,Milk,11000000,1.03,4.38,6.89,...,0.026,0.0,0.129,0.0,0.040,0.0,0.0,0.0,1.658,0.497
1,11100000,"Milk, NFS",1004,"Milk, reduced fat",1,Milk,11100000,3.28,1.91,4.85,...,0.000,0.0,0.013,0.0,0.001,0.0,0.0,0.0,0.507,0.094
2,11111000,"Milk, cow's, fluid, whole",1002,"Milk, whole",1,Milk,11111000,3.15,3.25,4.80,...,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.812,0.195
3,11111100,"Milk, cow's, fluid, whole, low-sodium",1002,"Milk, whole",1,Milk,11111100,3.10,3.46,4.46,...,0.000,0.0,0.077,0.0,0.000,0.0,0.0,0.0,0.999,0.128
4,11111150,"Milk, calcium fortified, cow's, fluid, whole",1002,"Milk, whole",1,Milk,11111150,3.14,3.24,4.79,...,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.810,0.194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,94100200,"Water, bottled, sweetened, with low or no calo...",7802,Flavored or carbonated water,4,Other,94100200,0.00,0.00,0.15,...,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,0.000
2966,94100300,"Water, fruit flavored, sweetened, with high fr...",7802,Flavored or carbonated water,4,Other,94100300,0.00,0.00,4.50,...,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,0.000
2967,94210100,Propel Water,7804,Enhanced or fortified water,4,Other,94210100,0.00,0.00,1.22,...,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,0.000
2968,94210200,Glaceau Water,7804,Enhanced or fortified water,4,Other,94210200,0.00,0.00,5.49,...,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,0.000
2969,94300100,"Water, baby, bottled, unsweetened",9204,Baby water,1,Other,94300100,0.00,0.00,0.00,...,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,0.000

In [4]:
nuts_12=smoted_df.copy()

In [5]:
nuts_12.columns

Index(['Food_code', 'Main_food_description', 'catnumb', 'catname', 'novaclass',
       'macroclass', 'Food code', 'Protein', 'Total Fat', 'Carbohydrate',
       'Energy', 'Alcohol', 'Water', 'Caffeine', 'Theobromine',
       'Sugars, total', 'Fiber, total dietary', 'Calcium', 'Iron', 'Magnesium',
       'Phosphorus', 'Potassium', 'Sodium', 'Zinc', 'Copper', 'Selenium',
       'Retinol', 'Vitamin A, RAE', 'Carotene, beta', 'Carotene, alpha',
       'Vitamin E (alpha-tocopherol)', 'Vitamin D (D2 + D3)',
       'Cryptoxanthin, beta', 'Lycopene', 'Lutein + zeaxanthin', 'Vitamin C',
       'Thiamin', 'Riboflavin', 'Niacin', 'Vitamin B-6', 'Folate, total',
       'Vitamin B-12', 'Choline, total', 'Vitamin K (phylloquinone)',
       'Folic acid', 'Folate, food', 'Folate, DFE', 'Vitamin E, added',
       'Vitamin B-12, added', 'Cholesterol', 'Fatty acids, total saturated',
       '4:0', '6:0', '8:0', '10:0', '12:0', '14:0', '16:0', '18:0', '18:1',
       '18:2', '18:3', '20:4', '22:6 n-3', '16:1', '18:4', '20:1', '20:5 n-3',
       '22:1', '22:5 n-3', 'Fatty acids, total monounsaturated',
       'Fatty acids, total polyunsaturated'],
      dtype='object')

In [6]:
nuts_12.columns

Index(['Food_code', 'Main_food_description', 'catnumb', 'catname', 'novaclass',
       'macroclass', 'Food code', 'Protein', 'Total Fat', 'Carbohydrate',
       'Energy', 'Alcohol', 'Water', 'Caffeine', 'Theobromine',
       'Sugars, total', 'Fiber, total dietary', 'Calcium', 'Iron', 'Magnesium',
       'Phosphorus', 'Potassium', 'Sodium', 'Zinc', 'Copper', 'Selenium',
       'Retinol', 'Vitamin A, RAE', 'Carotene, beta', 'Carotene, alpha',
       'Vitamin E (alpha-tocopherol)', 'Vitamin D (D2 + D3)',
       'Cryptoxanthin, beta', 'Lycopene', 'Lutein + zeaxanthin', 'Vitamin C',
       'Thiamin', 'Riboflavin', 'Niacin', 'Vitamin B-6', 'Folate, total',
       'Vitamin B-12', 'Choline, total', 'Vitamin K (phylloquinone)',
       'Folic acid', 'Folate, food', 'Folate, DFE', 'Vitamin E, added',
       'Vitamin B-12, added', 'Cholesterol', 'Fatty acids, total saturated',
       '4:0', '6:0', '8:0', '10:0', '12:0', '14:0', '16:0', '18:0', '18:1',
       '18:2', '18:3', '20:4', '22:6 n-3', '16:1', '18:4', '20:1', '20:5 n-3',
       '22:1', '22:5 n-3', 'Fatty acids, total monounsaturated',
       'Fatty acids, total polyunsaturated'],
      dtype='object')

In [7]:
def move_column_to_end(df, column_name):
    column = df.pop(column_name)
    df[column_name] = column
    return df

In [8]:
nuts_12=move_column_to_end(nuts_12, 'novaclass')

In [9]:
columns_needed=['Protein',
'Total Fat',
'Carbohydrate',
'Sugars, total',
'Fiber, total dietary',
'Calcium',
'Iron',
'Sodium',
'Vitamin D (D2 + D3)',
'Cholesterol',
'Fatty acids, total saturated',
'Potassium','Energy','novaclass']

In [10]:
nuts_12=nuts_12[columns_needed]

In [11]:
nuts_12.columns

Index(['Protein', 'Total Fat', 'Carbohydrate', 'Sugars, total',
       'Fiber, total dietary', 'Calcium', 'Iron', 'Sodium',
       'Vitamin D (D2 + D3)', 'Cholesterol', 'Fatty acids, total saturated',
       'Potassium', 'Energy', 'novaclass'],
      dtype='object')

In [12]:
nuts_12['novaclass'].value_counts()

novaclass
4    2112
3     466
1     339
2      53
Name: count, dtype: int64

In [15]:
466+53

519